* {
	margin: 0;
    padding: 0;
}

html {
    position: relative;
}

body {
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
    color: white;
    /* overflow: hidden; */
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

.left-buttons {
    display: flex;
    margin-left: 6vw;
    margin-right: 1rem;
}

button, select {
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: rgba(180,184,187,.7);
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: all .2s;
}

.spinner {
    width: 2rem;
    height: 2rem;
    animation: 1.5s ease-in-out;
}

select {
    padding-left: 1rem;
}

.language {
    position: relative;
    margin: 0 1rem;
}

.language-menu {
    width: 6.5rem;
}

.button-F {
    border-radius: .5rem 0 0 .5rem;
    cursor: auto;
}

.inactive {
    background: rgba(76,82,85,.7);
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}

.button-C {
    border-radius: 0 .5rem .5rem 0;
    cursor: auto;
}

.right-buttons {
    display: flex;
    margin-right: 6vw;
    margin-left: 1rem;
}

.search-input:required {
    outline: 0;
}

.search-input {
    width: 21.5rem;
    height: 3.2rem;
    border: solid rgba(180,184,187,.7);
    border-width: .15rem 0 .15rem .15rem;
    border-radius: .5rem 0 0 .5rem;
    padding: 1.3rem 1.5rem;
    background: rgba(76,82,85,.7);
    font-family: inherit;
    font-size: 1.4rem;
    color: #fff;
    cursor: text;
}

button, input {
    overflow: visible;
}

.search-input-button {
    width: 10rem;
    margin-left: 0;
    border-radius: 0 .5rem .5rem 0;
    color: #fff;
}

button, input, optgroup, select, textarea {
    line-height: 1.15;
    margin: 0;
}

.search-voice {
    border-radius: 0;
    border: solid rgba(180,184,187,.7);
    border-width: .15rem 0;
    background: rgba(76,82,85,.7);
    background-size: 50%;
}

.microphone {
    width: 2rem;
    height: 2rem;
}

::placeholder {
    color: white;
}

/* MAIN */

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 6vw;
}

.weather {
    display: grid;
    height: 600px;
    grid-template-columns: repeat(3,12rem);
    grid-template-rows: 4.5em 4em 10em 12em 8em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#location {
    grid-column: 1/4;
    font-size: 4rem;
    margin: 0 0;
}

#data-time {
    grid-column: 1/4;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0 0;
}

#temperature-today {
    grid-column: 1/3;
    grid-row: 3/5;
    text-align: center;
    font-size: 21rem;
    margin: 0 0;
}

.degree {
    font-size: 14rem;
    position: relative;
    bottom: 5rem;
}

#weather-icon {
    width: 12rem;
    height: 12rem;
}

#weather-icon, .information {
    transform: translateY(-20%);
}

.information {
    padding-left: 2rem;
}

.forecast {
    display: grid;
    margin-right: 2rem;
}

#day {
    grid-column: 1/3;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0;
}

#temperature {
    font-size: 4rem;
    margin: 0 0;
}

#icon {
    width: 4rem;
    height: 4rem;
}

.geolocation {
    width: 550px;
    height: 450px;
    border: 0;
    border-radius: 5%;
    margin: 1rem 0;
}

.coordinates {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    text-align: right;
}

.coordinates p {
margin: 0;
}

@media screen and (max-width: 1279px) {
    body {
        overflow: scroll;
    }
    .map-coordinates {
        margin-top: 3rem;
    }
    .coordinates {
        margin-bottom: 2rem;
    }
    .map-coordinates {
        margin-top: 0;
    }
}

@media screen and (max-width: 1015px) {
    .right-buttons {
        margin-top: 2rem;
    }
    .search-input {
        margin-left: 4vw;
    }
}

@media screen and (max-width: 666px) {
    .search-input {
        width: 14rem;
    }
    .search-input-button {
        width: 8rem;
    }
    .weather {
        grid-template-columns: repeat(3,11rem);
        font-weight: 600;
    }
    #location {
        font-size: 3rem;
    }
    #data-time {
        font-size: 1.5rem;
        font-weight: 300;
    }
    #temperature-today {
        font-size: 16rem;
    }
    .degree {
        font-size: 12rem;
        bottom: 6.8rem;
        right: 1.5rem;
    }
    #weather-icon {
        width: 10rem;
        height: 10rem;
    }
    #weather-icon, .information {
        transform: translate(-20%, -20%);
    }
    .forecast {
        margin-right: 4rem;
    }
    #day {
        font-size: 1.5rem;
        font-weight: 600;
    }
    #temperature {
        font-size: 3rem;
    }
    #icon {
        width: 3rem;
        height: 3rem;
    }
    .geolocation {
        width: 500px;
        height: 400px;
    }
    .coordinates {
        margin-top: 2rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 590px) {
    .left-buttons {
        margin-left: 3.5vw;
    }
    .right-buttons {
        margin-left: 0;
    }
    main {
        margin-left: 3.5vw;
    }
    .weather {
        grid-template-columns: repeat(3,10rem);
    }
    #weather-icon {
        width: 8rem;
        height: 8rem;
    }
    .degree {
        font-size: 12rem;
    }
    .information {
        transform: translate(-10%, -10%);
        padding: 0;
    }
    #icon {
        width: 3rem;
        height: 3rem;
    }
    .geolocation {
        width: 450px;
        height: 350px;
    }
    p {
        font-size: medium;
    }
}

@media screen and (max-width: 460px) {
    #weather-icon, .information {
        transform: translate(-30%, -30%);
    }
    .weather {
        font-weight: 400;
    }
    #temperature-today {
        transform: translate(-10%, -10%);
    }
    #weather-icon {
        width: 6rem;
        height: 6rem;
    }
    .degree {
        font-size: 10rem;
    }
    .information {
        transform: translate(-45%, -5%);
    }
    .forecast {
        margin-right: 6rem;
    }
    #day {
        font-size: 1rem;
        font-weight: 400;
    }
    #temperature {
        font-size: 2rem;
    }
    #icon {
        width: 2rem;
        height: 2rem;
    }
    .geolocation {
        width: 400px;
        height: 300px;
    }
    .coordinates {
        margin-top: 1rem;
        font-size: 1rem;
    }
    p {
        font-size: small;
    }
}

@media screen and (max-width: 400px) {
    .left-buttons {
        margin-left: 3vw;
    }
    button, select {
        width: 3rem;
        height: 3rem;
        display: flex;
    }
    .spinner {
        width: 1rem;
        height: 1rem;
    }
    select {
        padding-left: 0rem;
    }  
    .language-menu {
        width: 4rem;
    }
    .right-buttons {
        margin-left: 0vw;
    }
    .search-input {
        width: 8.5rem;
        height: 3rem;
    }
    .search-input-button {
        width: 6rem;
    }
    .microphone {
        width: 1rem;
        height: 1rem;
    }
    main {
        margin: 0 3vw;
    }
    p {
        margin-block-start: .5em;
        margin-block-end: .5em;
    }
    #location {
        font-size: 2rem;
    }
    #data-time {
        font-size: 1.5rem;
    }
    #temperature-today {
        font-size: 14rem;
        margin-left: 0;
    }
    .degree {
        font-size: 8rem;
        bottom: 5rem;
    }
    #weather-icon {
        transform: translate(-190%, 210%);
        width: 5rem;
        height: 5rem;
    }
    .information {
        transform: translate(-180%, 25%);
    }
    #icon {
        width: 2rem;
        height: 2rem;
    }
    .after-tomorrow {
        transform: translate(-65%, 0%);
    }
    .after-after-tomorrow {
        transform: translate(-100%, 0%);
    }
    .geolocation {
        width: 350px;
        height: 250px;
    }
    .coordinates {
        margin-top: 1rem;
        font-size: 1rem;
    }
    p {
        font-size: medium;
    }
}

@media screen and (max-width: 320px) {
    .search-input-button {
        width: 5rem;
        font-size: 1rem;
    }
    #temperature-today {
        font-size: 12rem;
        transform: translate(-10%, -5%);
    }
    .information {
        transform: translate(-180%, 20%);
    }
    .after-tomorrow {
        transform: translate(-110%, 0%);
    }
    .after-after-tomorrow {
        transform: translate(-200%, 0%);
    }
    .geolocation {
        width: 280px;
        height: 180px;
    }
    .coordinates {
        margin-top: 1rem;
        font-size: 1rem;
    }
}
